@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
@{
    dynamic item = Model.Content;
}
<section class="row_section" style=' padding:25px 0px !important; '>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <section class="clearfix">
                            @Html.Partial("Breadcrumb")
                        </section>
                    </div>
                </div><div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <section id="post">
                            <div class="postitem">
                                <div class="row">
                                    <article class="col-lg-12">
                                        <h1><umbraco:Item field="pageName" runat="server" /></h1>
                                        <div class="date">
                                            <i class="fa fa-calendar"></i>&nbsp;&nbsp;
                                            <umbraco:Macro runat="server" language="cshtml">
                                                @Html.Raw(item.CreateDate.ToString("dd/MM/yyyy"))
                                            </umbraco:Macro>
                                        </div>
                                        <div>
                                            <div class="share">
                                                <div class="addthis_native_toolbox"></div>
                                            </div>
                                        </div>
                                        <p>@item.MoTa</p>
                                        <section class="box-category clearfix">
                                            <div class="heading">
                                                <h2><span>Bình luận</span></h2>
                                            </div>
                                        </section>
                                        @{
                                            var url = "http://phukienphanthiet.com" + @item.Url;
                                            <div class="fb-comments" data-width="100%" data-href="@url" data-numposts="5" data-colorscheme="light"></div>
                                        }
                                    </article>
                                </div>
                            </div>
                        </section>
                        <section class="box-category clearfix">
                            <div class="heading">
                                <h2><span>Tin tức mới</span></h2>
                            </div>
                            <ul class="article-rated">
                                @Html.Partial("Tintuccungdanhmuc")
                            
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div>
                    <section class="box-category">
                        <div class="heading">
                            <h2><span>Hỗ trợ</span></h2>
                        </div>
                        <div class="main">
                            <ul class="support-html">
                                @Html.Partial("MenuHotroRight")
                            </ul>
                        </div>
                    </section>
                </div>
                <div>
                    <section class="box-category">
                        <div class="banner-small">
                            <umbraco:Macro Alias="Bannerquangcao" runat="server"></umbraco:Macro>
                        </div>
                    </section>
                </div>
                <div>
                    <section class="box-category">
                        <div class="heading">
                            <h2><span>Danh mục sản phẩm</span></h2>
                        </div>
                        <div class="list-group panelvmenu">
                            @Html.Partial("Menuleft")
                        </div>
                    </section>
                    <script>
                        var url_cat = document.URL;
                        $(".panelvmenu a[href='" + url_cat + "']").addClass('active');
                    </script>
                </div>
                <div>
                    <Script language="javascript">
                        $(document).ready(function () {
                            var owl80381448880828 = $('#typical-products-80381448880828');
                            owl80381448880828.owlCarousel({
                                items: 1,
                                itemsDesktop: [1024, 1],
                                itemsDesktopSmall: [960, 3],
                                itemsTablet: [640, 2],
                            });
                            $("#next80381448880828").click(function () {
                                owl80381448880828.trigger('owl.next');
                            })
                            $("#prev80381448880828").click(function () {
                                owl80381448880828.trigger('owl.prev');
                            })
                        });
                    </Script>
                    <section id="typical" class="box-category">
                        <div class="heading">
                            <h2><span>Bán chạy</span></h2>
                        </div>
                        <div class="main">
                            <div class="typicalNavigation">
                                <a class="prev" id="prev80381448880828"><i class="fa fa-chevron-circle-left"></i></a>
                                <a class="next" id="next80381448880828"><i class="fa fa-chevron-circle-right"></i></a>
                            </div>
                            <div id="typical-products-80381448880828" class="typical-products owl-carousel">
                                @Html.Partial("Sanphambanchay")
                            </div>
                        </div>
                    </section>
                </div>
                <div>
                    <section class="box-category">
                        <div class="heading">
                            <h2><span>Dịch vụ khách hàng</span></h2>
                        </div>
                        <div class="main">
                            <ul class="dv-html">
                                @Html.Partial("tintuc_left")
                            </ul>
                        </div>
                    </section>
                </div>
                <div>
                    <section class="box-category">
                        <div class="heading">
                            <h2><span>Tag</span></h2>
                        </div>
                        <div class="main">
                            <ul class="tags-footer">
                                <umbraco:Macro Alias="TAG" runat="server" />
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>    