@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Newtonsoft.Json.Linq;
@using WebVer1.BLL;
@{
	Layout = "MasterPage.cshtml";
}
<script type="text/javascript">
	$(document).ready(function () {
		$('#donhang').keydown(function (event) {
			if (event.keyCode == 13) {
				window.location = '/don-hang?q=' + $('#donhang').val();

			}
		});
		$("#btndonhang").click(function () {
			window.location = '/don-hang?q=' + $('#donhang').val();
		});
	});
</script>
@{
	var urlpage = Model.Content.Url;
	var items = "";
	var rq = Request["q"] == "" || Request["q"] == null ? "" : Request["q"];
	if (Session["items"] == null || (Session["items"] != Request["q"] && rq != ""))
	{
		try
		{
			items = Request["q"] == "" ? "" : Request["q"].ToString();
			Session["items"] = items;
		}
		catch { }
	}
	else
	{
		items = Session["items"].ToString();
	}
	dynamic data = null;
	var checkPhoneNumber = System.Text.RegularExpressions.Regex.IsMatch(items, @"^\d+$");

	<section class="row_section" style=" padding:25px 0px !important; ">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<section class="clearfix">
								<input id="donhang" style="width:85%" type="text" autocomplete="off" name="search" class="donhang" placeholder="Tìm kiếm theo SĐT hoặc Mã Đơn Hàng..." value="">
								<button id="btndonhang" class="btndonhang" runat="server" hidefocus="true" style="border: 0 none;    background-color: rgba(255, 255, 255, 0)"><i class="fa fa-search fa-lg"></i></button>
							</section>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<section class="clearfix">
								@Html.Partial("Breadcrumb")
							</section>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box_intro_cat"></div>
							<section id="product-listitem">
								<div class="listitem">
									<div class="row">
										<article class="new-cart">
											<div class="stepcart" style="overflow:hidden; clear:both">
												<div class="row">
													@if (checkPhoneNumber && !string.IsNullOrEmpty(items))
													{//neu la so dien thoai
														if (items.Count() >= 10)
														{
															dynamic ghnDetail = null;
															var result = new DatHangBLL().TimKiemDonHang(items,out ghnDetail);
															data = JObject.Parse(result);
															if (data.Data != null && data.Data.Count > 0)
															{
																foreach (var donHang in data.Data)
																{
																	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin: 20px 0px;">
																		<div class="cart-right">

																			<div class="tit">Mã đơn hàng: @donHang.Code</div>
																			<div class="date">
																				<i class="fa fa-calendar"></i>&nbsp;&nbsp;Ngày tạo&nbsp;: &nbsp;@donHang.PurchaseDate.ToString("dd/MM/yyyy hh:mm")
																			</div>
																			<div class="ctn-info">
																				@foreach (var orderDetail in donHang.OrderDetails)
																				{
																					var hangHoa = new HangHoaBLL().ChiTietHangHoa(orderDetail.ProductId.ToString());

																					<p>@Html.Raw(hangHoa.name)</p>

																					<ul>
																						<li>
																							<span>Số lượng</span> <strong>
																								@Html.Raw(orderDetail.Quantity)
																							</strong>
																						</li>
																						<li>
																							<span>Thành tiền </span><strong class="total">@string.Format("{0:#,##0 đ}", orderDetail.SubTotal)</strong>
																						</li>
																					</ul>
																				}

																				<ul>
																					<li>
																						<span class="title-total">Tổng tiền</span><strong class="big-total">@string.Format("{0:#,##0 đ}", donHang.Total)</strong>
																					</li>
																				</ul>
																			</div>


																			<div class="tit" style="background:#fd0000 !important">
																				@{
																				    ghnDetail = null;
																					result = new DatHangBLL().TimKiemDonHang(donHang.Code.ToString(),out ghnDetail);
																					if (ghnDetail != null)
																					{
																						string trangThaiGiaoHangEn=ghnDetail.data.CurrentStatus.ToString();
																						string trangThaiGiaoHangVi="";
																						switch (trangThaiGiaoHangEn)//System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(trangThaiGiaoHangEn)
																						{
																							case "Cancel":
																								trangThaiGiaoHangVi="Hủy đơn hàng.";
																								break;
																							case "LostOrder":
																								trangThaiGiaoHangVi="Đơn hàng của bạn bị lạc mất.";
																								break;
																							case "ReadyToPick":
																							case "Picking":
																							case "Storing":
																								trangThaiGiaoHangVi="Đơn hàng của bạn đã được đóng gói và chuyển cho bộ phận giao hàng.";
																								break;
																							case "Delivering":
																								trangThaiGiaoHangVi="Đơn hàng của bạn đang được vận chuyển.";
																								break;
																							case "Delivered":
																								trangThaiGiaoHangVi="Đơn hàng của bạn đã được giao thành công.";
																								break;
																							case "Return":
																							case "Returned":
																								trangThaiGiaoHangVi="Đơn hàng của bạn bị trả về.";
																								break;
																							case "WaitingToFinish":
																								trangThaiGiaoHangVi="Đơn hàng của bạn đã hoàn thành.";
																								break;
																							case "Finish":
																								trangThaiGiaoHangVi="Đơn hàng của bạn đã hoàn thành.";
																								break;
																							default:
																								trangThaiGiaoHangVi="Đơn hàng đang chờ xử lý.";
																								break;
																						}
																						<span>@trangThaiGiaoHangVi</span>
																					}
																					else
																					{
																						<span>Đơn hàng đang chờ xử lý.</span>
																					}
																				}
																			</div>
																		</div>
																	</div>
																}
															}
															else
															{
																<div id="spcp">
																	<p class="sp_cptieude">
																		<img src="images/kythuat.png"><br> Thông Báo Hệ Thống
																	</p>
																	<div class="sp_cpnoidung" style="color:red;padding-left:15px;">
																		không tìm thấy đơn hàng " @items "
																		<blockquote><p><i>Phukienphanthiet.com</i></p></blockquote>
																	</div>
																</div>
															}
														}
														else
														{
															<div id="spcp">
																<p class="sp_cptieude">
																	<img src="images/kythuat.png"><br> Thông Báo Hệ Thống
																</p>
																<div class="sp_cpnoidung" style="color:red;padding-left:15px;">
																	không tìm thấy đơn hàng " @items "
																	<blockquote><p><i>Phukienphanthiet.com</i></p></blockquote>
																</div>
															</div>
														}
													}
													else if (checkPhoneNumber == false && !string.IsNullOrEmpty(items))
													{//neu la ma don hang
														if (items.Count() >= 8)
														{
															dynamic ghnDetail = null;
															var result = new DatHangBLL().TimKiemDonHang(items,out ghnDetail);
															data = JObject.Parse(result);
															if (data.Data != null && data.Data.Count > 0)
															{
																var donHang = data.Data[0];
																<div style="margin: 20px 0px;" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
																	<div class="cart-right">

																		<div class="tit">Mã đơn hàng: @donHang.Code</div>
																		<div class="date">
																			<i class="fa fa-calendar"></i>&nbsp;&nbsp;Ngày tạo&nbsp;: &nbsp;@donHang.PurchaseDate.ToString("dd/MM/yyyy hh:mm")
																		</div>
																		<div class="ctn-info">
																			@foreach (var orderDetail in donHang.OrderDetails)
																			{
																				var hangHoa = new HangHoaBLL().ChiTietHangHoa(orderDetail.ProductId.ToString());

																				<p>@Html.Raw(hangHoa.name)</p>

																				<ul>
																					<li>
																						<span>Số lượng</span> <strong>
																							@Html.Raw(orderDetail.Quantity)
																						</strong>
																					</li>
																					<li>
																						<span>Thành tiền </span><strong class="total">@string.Format("{0:#,##0 đ}", orderDetail.SubTotal)</strong>
																					</li>
																				</ul>
																			}

																			<ul>
																				<li>
																					<span class="title-total">Tổng tiền</span><strong class="big-total">@string.Format("{0:#,##0 đ}", donHang.Total)</strong>
																				</li>
																			</ul>
																		</div>


																		<div class="tit" style="background:#fd0000 !important">
																			@if (ghnDetail != null)
																			{
																				string trangThaiGiaoHangEn=ghnDetail.data.CurrentStatus.ToString();
																				string trangThaiGiaoHangVi="";
																				switch (trangThaiGiaoHangEn)//System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(trangThaiGiaoHangEn)
																				{
																					case "Cancel":
																						trangThaiGiaoHangVi="Hủy đơn hàng.";
																						break;
																					case "LostOrder":
																						trangThaiGiaoHangVi="Đơn hàng của bạn bị lạc mất.";
																						break;
																					case "ReadyToPick":
																					case "Picking":
																					case "Storing":
																						trangThaiGiaoHangVi="Đơn hàng của bạn đã được đóng gói và chuyển cho bộ phận giao hàng.";
																						break;
																					case "Delivering":
																						trangThaiGiaoHangVi="Đơn hàng của bạn đang được vận chuyển.";
																						break;
																					case "Delivered":
																						trangThaiGiaoHangVi="Đơn hàng của bạn đã được giao thành công.";
																						break;
																					case "Return":
																					case "Returned":
																						trangThaiGiaoHangVi="Đơn hàng của bạn bị trả về.";
																						break;
																					case "WaitingToFinish":
																						trangThaiGiaoHangVi="Đơn hàng của bạn đã hoàn thành.";
																						break;
																					case "Finish":
																						trangThaiGiaoHangVi="Đơn hàng của bạn đã hoàn thành.";
																						break;
																					default:
																						trangThaiGiaoHangVi="Đơn hàng đang chờ xử lý.";
																						break;
																				}
																				<span>@trangThaiGiaoHangVi</span>
																			}
																			else
																			{
																				<span>Đơn hàng đang chờ xử lý.</span>
																			}
																			@*@if (donHang.StatusValue == "Phiếu tạm")
																			{
																				<span>Đang giao hàng</span>
																			}
																			else
																			{
																				<span>@donHang.StatusValue</span>
																			}*@
																		</div>
																	</div>
																</div>
															}
															else
															{
																<div id="spcp">
																	<p class="sp_cptieude">
																		<img src="images/kythuat.png"><br> Thông Báo Hệ Thống
																	</p>
																	<div class="sp_cpnoidung" style="color:red;padding-left:15px;">
																		không tìm thấy đơn hàng " @items "
																		<blockquote><p><i>Phukienphanthiet.com</i></p></blockquote>
																	</div>
																</div>
															}
														}
														else
														{
															<div id="spcp">
																<p class="sp_cptieude">
																	<img src="images/kythuat.png"><br> Thông Báo Hệ Thống
																</p>
																<div class="sp_cpnoidung" style="color:red;padding-left:15px;">
																	không tìm thấy đơn hàng " @items "
																	<blockquote><p><i>Phukienphanthiet.com</i></p></blockquote>
																</div>
															</div>
														}
													}
												</div>
											</div>
										</article>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div>
						<section class="box-category">
							<div class="heading">
								<h2><span>Danh mục sản phẩm</span></h2>
							</div>
							<div class="list-group panelvmenu">
								@Html.Partial("Menuleft")
							</div>
						</section>
						<script>
							var url_cat = document.URL;
							$(".panelvmenu a[href='" + url_cat + "']").addClass('active');
						</script>
					</div>
					<div>
						<script language="javascript">
							$(document).ready(function () {
								var owl80381448880828 = $('#typical-products-80381448880828');
								owl80381448880828.owlCarousel({
									items: 1,
									itemsDesktop: [1024, 1],
									itemsDesktopSmall: [960, 3],
									itemsTablet: [640, 2],
								});
								$("#next80381448880828").click(function () {
									owl80381448880828.trigger('owl.next');
								})
								$("#prev80381448880828").click(function () {
									owl80381448880828.trigger('owl.prev');
								})
							});
						</script>
						<section id="typical" class="box-category">
							<div class="heading">
								<h2><span>Bán chạy</span></h2>
							</div>
							<div class="main">
								<div class="typicalNavigation">
									<a class="prev" id="prev80381448880828"><i class="fa fa-chevron-circle-left"></i></a>
									<a class="next" id="next80381448880828"><i class="fa fa-chevron-circle-right"></i></a>
								</div>
								<div id="typical-products-80381448880828" class="typical-products owl-carousel">
									@Html.Partial("Sanphambanchay")
								</div>
							</div>
						</section>
					</div>
					<div>
						<section class="box-category">
							<div class="heading">
								<h2><span>Dịch vụ khách hàng</span></h2>
							</div>
							<div class="main">
								<ul class="dv-html">
									@Html.Partial("tintuc_left")
								</ul>
							</div>
						</section>
					</div>
					<div>
						<section class="box-category">
							<div class="heading">
								<h2><span>Tag</span></h2>
							</div>
							<div class="main">
								<ul class="tags-footer">
									<umbraco:macro alias="TAG" runat="server" />
								</ul>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
}