@inherits WebVer1.Models.CustomInjectDemo
@{
    var hangHoaId = (Request.QueryString["pt"] == null) ? "" : Request.QueryString["pt"];
    var hangHoa = hangHoaService.ChiTietHangHoa(hangHoaId.ToInt());  
    var rootHangHoa = hangHoaService.DanhSachHangHoa(hangHoa.categoryId.ToString(), "0", "", "9");     
    var pr = rootHangHoa.data;
    foreach (var item in pr)
    {
        if (hangHoaId != item.id.ToString())
        {
            var image = item.images != null ? item.images[0] : "Images/noimageb.png";
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col94 mg">
                <div class="product">
                    <a href="/danh-muc/san-pham.aspx?pt=@item.id" title="@item.name">
                        <div class="image">
                            <div class="img-overflow">
                                <div style="background-image:url(@image);height:190px;background-position: center center;background-repeat: no-repeat;background-size: cover;"></div>
                                <div class="ImageOverlayBe"></div>
                            </div>
                            <span class="product product-label-special-right">@Html.Raw(item.ConHang > 0 ? "Còn hàng" : "Hết hàng")</span>
                        </div>
                        <p>@item.name</p>
                        <div class="price">
                            <span class="price-new">
                                @try
                                {
                                    @Html.Raw(string.Format("{0:#,##0}", Int32.Parse(item.basePrice.ToString())))
                                }
                                catch
                                {
                                    @Html.Raw(item.basePrice.ToString());
                                } đ
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        }
    }
}