@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<link type="text/css" rel="stylesheet" href="op.min.css">

@* the fun starts here *@
<section class="row_section" style='padding: 25px 0px !important;'>

    <div class="main-wrap">
        <section class="row_section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <section class="clearfix">
                                    @Html.Partial("Breadcrumb")
                                    @*<umbraco:Macro Alias="Breadcrumb" runat="server" />*@
                                </section>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <article class="box-category">
                                    <div class="heading">
                                        <h2>
                                            @Umbraco.Field("pageName")
                                        </h2>
                                    </div>
                                </article>
                                <div class="m-op">
                                    <div class="m-op-inner">
                                        <div class="m-op-img">
                                            <div class="m-op-img-inner">
                                                <img class="js-img" src="images/ip-7-8.png" alt="">
                                                <div class="m-mask js-mask">
                                                    <div class="m-mask-inner js-mask-inner">
                                                        <div class="m-mask-txt">
                                                            <div class="js-txt"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-op-option">
                                            <div class="m-op-option-inner">
                                                <div class="m-row">
                                                    <label for="m-producer">Hãy chọn điện thoại của bạn:</label>
                                                    <select id="m-producer" class="m-producer js-producer">
                                                        @{
                                                            List<int> dsIdCategory = new List<int>();
                                                            var dsnhomInOp = new NhomHangBLL().DanhNhomHangPlane().Where(o => o.parentId == 300683);
                                                            foreach (var item in dsnhomInOp)
                                                            {
                                                                dsIdCategory.Add(item.categoryId);
                                                                <option value="@item.categoryId">@item.categoryName</option>
                                                            }
                                                        }
                                                    </select>
                                                    @{
                                                        foreach (var idCategory in dsIdCategory)
                                                        {
                                                            var dshang = MemoryCacheKiot.dsHangHoa.data.Where(o => o.categoryId == idCategory);
                                                            <ul class="m-phones js-phones" id="@idCategory">
                                                                @foreach (var item in dshang)
                                                                {
                                                                    var urlget = item.images != null ? item.images[0] : "Images/noimageb.png";

                                                                    <li class="m-phone js-phone" data-img="@urlget">@item.name
                                                                    @*<img src="@urlget" />*@
                                                                   </li>
                                                                }
                                                            </ul>
                                                        }
                                                     }
                                                </div>
                                                <div class="m-row">
                                                    <label for="m-font">Hãy chọn kiểu chữ:</label>
                                                    <select id="m-font" class="m-font js-font">
                                                        <option value="cafe-lounge19">Kiểu 06</option>
                                                        <option value="thu-tu">Kiểu 01</option>
                                                        <option value="ong-do">Kiểu 02</option>
                                                        <option value="thu-phap-1">Kiểu 03</option>
                                                        <option value="thu-phap-5">Kiểu 04</option>
                                                        <option value="moi-hong">Kiểu 05</option>
                                                    </select>
                                                </div>
                                                <div class="m-row">
                                                    <label for="m-font">Hãy chọn kích thước chữ:</label>
                                                    <select class="m-size js-size">
                                                        <option value="small">Nhỏ</option>
                                                        <option value="normal">Vừa</option>
                                                        <option value="large">Lớn</option>
                                                    </select>
                                                </div>
                                                <div class="m-row">
                                                    <label for="m-input-txt">Nội dung hiển thị:</label>
                                                    <input type="text" id="m-input-txt" class="js-input-txt" value="Ngo Thai Hoang Em">
                                                </div>
                                                <div class="m-row">
                                                    <label for="m-input-color">Chọn màu chữ:</label>
                                                    <input type="text" id="m-input-color" class="jscolor js-color" value="#000">
                                                </div>
                                                <div class="m-row m-btn-group">
                                                    <a class="m-btn js-btn-order">Đặt</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                                </div>
                                <!--End listitem-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div>
                            <section class="box-category">
                                <div class="heading">
                                    <h2><span>Hỗ trợ</span></h2>
                                </div>
                                <div class="main">
                                    <ul class="support-html">
                                        @Html.Partial("MenuHotroRight")
                                    </ul>
                                </div>
                            </section>
                        </div>
                        <div>
                            <section class="box-category">
                                <div class="banner-small">
                                    <umbraco:Macro Alias="Bannerquangcao" runat="server"></umbraco:Macro>
                                </div>
                            </section>
                        </div>
                        <div>
                            <section class="box-category">
                                <div class="heading">
                                    <h2><span>Danh mục sản phẩm</span></h2>
                                </div>
                                <div class="list-group panelvmenu">
                                    @Html.Partial("Menuleft")
                                </div>
                            </section>
                            <script>
                                var url_cat = document.URL;
                                $(".panelvmenu a[href='" + url_cat + "']").addClass('active');
                            </script>
                        </div>
                        <div>
                        </div>
                    </div>
        </section>
    </div>
</section>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="jscolor.min.js"></script>
<script src="op.js"></script>