@inherits  WebVer1.Models.CustomInjectDemo
<section class="breadcrumbs clearfix">
    <a href="/" title="Trang chủ">Trang chủ</a> @Html.Raw("&nbsp;&nbsp;&gt;&nbsp;&nbsp;")
    @{
        var idStr = Request["pt"] as string;
        var idInt = Convert.ToInt32(idStr);
		var test = chiNhanhService.DanhSachChiNhanh();
        var category =  nhomHangService.TimNhomHangTheoId(idInt);     
        var hanghoa = hangHoaService.ChiTietHangHoa(idInt);    
        if (category != null)
        {
            switch (category.level)
            {
                case 0:
                    @category.categoryName
                    break;
                case 1:
                    var categoryParent = nhomHangService.TimNhomHangTheoId(category.parentId);     
                    <a href="/danh-muc?pt=@categoryParent.categoryId" title="@categoryParent.categoryName">@categoryParent.categoryName</a> @(" > ")
                    @category.categoryName
                    break;
                case 2:
                    categoryParent = nhomHangService.TimNhomHangTheoId(category.parentId);     
                    var categoryRoot = nhomHangService.TimNhomHangTheoId(categoryParent.parentId);     
                    <a href="/danh-muc?pt=@categoryRoot.categoryId" title="@categoryRoot.categoryName">@categoryRoot.categoryName</a>
                    @(" > ")
                    <a href="/danh-muc?pt=@categoryParent.categoryId" title="@categoryParent.categoryName">@categoryParent.categoryName</a>
                    @(" > ")
                    @category.categoryName
                    break;
            }
        }
        else
        {
            if (hanghoa != null)
            {
                category = nhomHangService.TimNhomHangTheoId(hanghoa.categoryId);     
                if (category != null)
                {
                    switch (category.level)
                    {
                        case 0:
                            @category.categoryName
                            break;
                        case 1:
                            var categoryParent = nhomHangService.TimNhomHangTheoId(category.parentId);     
                            <a href="/danh-muc?pt=@categoryParent.categoryId" title="@categoryParent.categoryName">@categoryParent.categoryName</a> @(" > ")
                            @category.categoryName
                            break;
                        case 2:
                            categoryParent = nhomHangService.TimNhomHangTheoId(category.parentId);     
                            var categoryRoot = nhomHangService.TimNhomHangTheoId(categoryParent.parentId);     
                            <a href="/danh-muc?pt=@categoryRoot.categoryId" title="@categoryRoot.categoryName">@categoryRoot.categoryName</a>
                            @(" > ")
                            <a href="/danh-muc?pt=@categoryParent.categoryId" title="@categoryParent.categoryName">@categoryParent.categoryName</a>
                            @(" > ")
                            @category.categoryName
                            break;
                    }
                }
            }
        }
        if (category == null && hanghoa == null)
        {
            var selection = CurrentPage.Ancestors();
            if (selection.Any())
            {
                foreach (var page in selection.OrderBy("Level"))
                {
                    if (page.Level == 1)
                    {

                    }
                    else
                    {
                        <a href="@page.Url" title="@page.Name">@page.Name</a>@Html.Raw("&nbsp;&nbsp;&gt;&nbsp;&nbsp;")
                    }
                }
                @CurrentPage.Name
            }
        }
    }

</section>