@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using KiotVietBO;
@{
    if (Model.Content.Id == 2057)
    {
        <li><a level='1' href="@Umbraco.Content(2057).Url" class="active" target="_self">@Umbraco.Content(2057).Name</a></li>
    }
    else
    {
        <li><a level='1' href="@Umbraco.Content(2057).Url" target="_self">@Umbraco.Content(2057).Name</a></li>
    }
    var dsnhomhang = MemoryCacheKiot.dsNhomHang; 
    foreach (var item in dsnhomhang.data)
    {
        <li class="dropdown">
            <a level='1' href="/danh-muc?pt=@item.categoryId" target="_self" class="dropdown-toggle" data-toggle="">@item.categoryName<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
                @{
                    if (item.hasChild)
                    {
                        var filter = item.children.Where(o => o.categoryId != 300683);
                        foreach (var item1 in filter)
                        {
                            <li><a href="/danh-muc?pt=@item1.categoryId" target="_self">@item1.categoryName</a></li>
                        }
                    }
                }
            </ul>
        </li>
    }
    <li><a level='1' href="/huong-dan" tile="Hướng dẫn" target="_self">Hướng dẫn</a></li>
    <li><a level='1' href="/lien-he" tile="Liên hệ" target="_self">Liên hệ</a></li>
}