@{
    var pr = MemoryCacheKiot.dsHangHoa.data.Where(o=>o.allowsSale==true).OrderByDescending(o => o.modifiedDate).Take(10).ToList();
    foreach (var item in pr)
    {
        var idsp = @item.id;
        var idd = "addToCartButtonA" + @item.id;
        var image = item.images != null ? item.images[0] : "Images/noimageb.png";
        <div class="col94 item col-lg-12">
            <div class="product">
                <a href="/danh-muc/san-pham?pt=@item.id" title="@item.fullName">
                    <div class="image">
                        <div class="img-overflow">
                            <div style="background-image:url(@image);height:190px;background-position: center center;background-repeat: no-repeat;background-size: cover;"></div>
                            <div class="ImageOverlayBe"></div>
                        </div>
                        <span class="product product-label-special-right">@Html.Raw(item.ConHang > 0 ? "Còn hàng" : "Hết hàng")</span>
                    </div>
                    <p>@item.name</p>
                    <div class="price">
                        <span class="price-new">
                            @try
                            {
                                @Html.Raw(string.Format("{0:#,##0}", Int32.Parse(item.basePrice.ToString())))
                            }
                            catch
                            {
                                @Html.Raw(item.basePrice.ToString());
                            } đ
                        </span>
                    </div>
                </a>
                <ul class="function">
                    <li>
                        <script type="text/javascript">
    $().ready(function () {
        $('#@idd').click(function () {
            $.ajax({
                type: "GET",
                url: "/umbraco/surface/CartsSurface/AddToCart",
                contentType: "application/json",
                dataType: "json",
                data: { "pk": "@idsp" },
                success: function (data) { $('.count').html(data);},
                error: function (data) {alert("error");}
            });
        });
    });
                        </script>
                        @{
                            var t = item.inventories.Where(o => o.branchId == 13933).FirstOrDefault();
                            if (t != null && t.onHand > 0)
                            {
                                <button type="button" id="@idd" class="btn btnitem addToCartButton">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            }
                        }
                    </li>
                    <li>
                        <a href="/danh-muc/san-pham?pt=@item.id" title="">
                            <button type="button" class="btn btnitem">
                                <i class="fa fa-eye"></i>
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }
}