@{ 
    var pr = new HangHoaBLL().DanhSachOpLungBaoDa();
    foreach (var item in pr)
    {
        var urlget = item.images != null ? item.images[0] : "Images/noimageb.png";
        <div class="col3 item">
            <!--product-->
            <div class="product">
                <a href="/danh-muc/san-pham?pt=@item.id" title="@item.fullName">
                    <div class="image">
                        <div class="img-overflow">
                            <div style="background-image:url(@urlget);height:250px;background-position: center center;background-repeat: no-repeat;background-size: cover;"></div>
                            <div class="ImageOverlayBe"></div>
                        </div>
                        <span class="product product-label-special-right">@Html.Raw(item.ConHang > 0 ? "Còn hàng" : "Hết hàng")</span>
                    </div>
                    <p>@item.name</p>
                    <div class="price">
                        <span class="price-new">
                            @try
                            {
                                @Html.Raw(string.Format("{0:#,##0}", Int32.Parse(item.basePrice.ToString())))
                            }
                            catch
                            {
                                @Html.Raw(item.basePrice.ToString());
                            } đ
                        </span>
                    </div>
                </a>
            </div>
        </div>
    }
}