@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    <div class="filter pull-right">
        <div class="order-product pull-left">
            <div class="btn-group">
                <span class="btn dropdown-toggle" data-toggle="dropdown">
                    <a href="#">
                        <span><i class="fa fa-sort"></i></span>
                        <span>Sắp xếp</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                </span>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Model.Content.Url">
                            <span>Mặc định</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Model.Content.Url?sx=4">
                            <span><i class="fa fa-sort-alpha-asc"></i>Tên sản phẩm</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Model.Content.Url?sx=3">
                            <span><i class="fa fa-sort-alpha-desc"></i>Tên sản phẩm</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Model.Content.Url?sx=2">
                            <span><i class="fa fa-sort-numeric-asc"></i>Đơn giá</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Model.Content.Url?sx=1">
                            <span><i class="fa fa-sort-numeric-desc"></i>Đơn giá</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="listitem">
        <h2>
            <span>
                @Model.Content.Name
            </span>
        </h2>
        <div class="row">
            @{
							var urlpage = Model.Content.Url;
							var items = "";
							var rq = Request["q"] == "" || Request["q"] == null ? "" : Request["q"];
							if (Session["items"] == null || (Session["items"] != Request["q"] && rq != ""))
							{
								try
								{
									items = Request["q"] == "" ? "" : Request["q"].ToString();
									Session["items"] = items;
								}
								catch { }
							}
							else
							{
								items = Session["items"].ToString();
							}
							var sx = (Request.QueryString["sx"] == null) ? "" : Request.QueryString["sx"];
							var sxb = "sx=" + sx;

							string[] searchTerms = Extension.RejectMarks(items.ToString()).Split(" ".ToCharArray(), StringSplitOptions.RemoveEmptyEntries);
							List<KiotVietBO.ChiTietHangHoaBO> pr = new List<KiotVietBO.ChiTietHangHoaBO>();
							pr = MemoryCacheKiot.dsHangHoa.data;
							pr = pr.DistinctBy(o => o.id).ToList();
							for (int i = 0; i < searchTerms.Length; i++)
							{

								pr = (from comp in pr
									  where comp.name.RejectMarksStr().ToLower().Contains(searchTerms[i].ToLower())
									  select comp).ToList();
							}

							if (pr.Count() != 0 && items.Length > 2)
							{
								var itemsPerPage = 20;
								var numberOfItems = pr.Count();
								int currentPage = 1;
								if (!int.TryParse(HttpContext.Current.Request.QueryString["Trang"], out currentPage))
								{
									currentPage = 1;
								}
								currentPage--;
								var numberOfPages = numberOfItems % itemsPerPage == 0 ? Math.Ceiling((decimal)(numberOfItems / itemsPerPage)) : Math.Ceiling((decimal)(numberOfItems / itemsPerPage)) + 1;
								int vala = currentPage * itemsPerPage;
								int valb = itemsPerPage;

					<div id="tieude">Tìm Thấy @pr.Count() Kết Quả Cho Từ Khóa "<b>@items</b>" Trong Danh Mục Sản Phẩm</div>
					var query = pr.Skip(vala).Take(valb);
								switch (sx)
								{
									case "":
										query = query.OrderByDescending(o => o.modifiedDate);
										break;
									case "1":
										query = query.OrderByDescending(o => o.basePrice);
										break;
									case "2": query = query.OrderBy(o => o.basePrice); break;
									case "3": query = query.OrderByDescending(o => o.name); break;
									case "4": query = query.OrderBy(o => o.name); break;
								}
								foreach (var item in query)
								{
									var idsp = @item.id;
									var idd = "addToCartButton" + @item.id;
									var image = item.images != null ? item.images[0] : "Images/noimageb.png";

						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col94 mg">
                            <div class="product">
                                <a href="/danh-muc/chung-loai/san-pham.aspx?pt=@item.id" title="@item.name">
                                    <div class="image">
                                        <div class="img-overflow">
                                            <div style="background-image:url(@image);height:190px;background-position: center center;background-repeat: no-repeat;background-size: cover;"></div>

											<div class="ImageOverlayBe"></div>
                                        </div>
                                        <span class="product product-label-special-right">@Html.Raw(item.ConHang > 0 ? "Còn hàng" : "Hết hàng")</span>
                                    </div>
                                    <p>@item.name</p>
                                    <div class="price">
                                        <span class="price-new">
                                            @try
                                            {
                                                @Html.Raw(string.Format("{0:#,##0}", Int32.Parse(item.basePrice.ToString())))
                                            }
                                            catch
                                            {
                                                @Html.Raw(item.basePrice.ToString());
                                            } đ
										</span>
                                    </div>
                                </a>
                                <ul class="function">
                                    <li>
                                        @{
                                            var te = item.inventories.Where(o => o.branchId == 13933).FirstOrDefault();
                                            if (te != null && te.onHand > 0)
                                            {
                                                <button type="button" id="@idd" class="btn btnitem addToCartButton">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </button>
                                            }
                                        }
                                    </li>
                                    <li>
                                        <a href="/danh-muc/chung-loai/san-pham.aspx?pt=@item.id" title="">
                                            <button type="button" class="btn btnitem">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                          
                    }
                    <ul class="pagination pull-right">
                        @{
                            var Pages = Enumerable.Range(1, (int)numberOfPages);
                            if (currentPage > 0)
                            {
                                <li><a href="@Model.Content.Url?Trang=@(currentPage)&&@sxb" title="">...</a></li>
                            }
                            foreach (var number in Pages)
                            {
                                if (currentPage - 2 <= number && currentPage + 4 >= number)
                                {
                                    if (number - 1 != currentPage)
                                    {
                                        <li><a href="@Model.Content.Url?Trang=@number&&@sxb">@number</a></li>
                                    }
                                    else
                                    {
                                        <li class="active"><a href="javascript:{}">@number</a></li>
                                    }
                                }
                            }
                            if (currentPage < Pages.Count() - 1)
                            {
                                <li><a href="@Model.Content.Url?Trang=@(currentPage + 2)&&@sxb">...</a></li>
                            }
                        }
                    </ul>
                }
                else
                {
                    <div id="spcp">

						<p class="sp_cptieude">
                            <img src="images/kythuat.png" width="24" height="24" align="absbottom"> Thông Báo Hệ Thống
						</p>
                        <div class="sp_cpnoidung" style="color:red;padding-left:15px;">
                            không tìm thấy từ khóa " @items "
                            <blockquote><p><i>Phukienphanthiet.com</i></p></blockquote>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}

