@using FergusonMoriyama.DocCart.Helper;
@using FergusonMoriyama.DocCart.Interfaces;
@{ 
    var helper = ServiceHelper.Instance.CartService;

    if (Request["submit"] == "Delete")
    {
        helper.RemoveItemFromCart(Convert.ToInt32(Request["nodeId"]));
    }
    else if (Request["submit"] == "Update")
    {
        helper.UpdateQuantity(Convert.ToInt32(Request["nodeId"]), Convert.ToInt32(Request["quantity"]));
    }
    var items = helper.GetCartItems();
 }
<table style="width: 100%;">
    <thead>
        <th>
        </th>
        <th>
            Stock Code
        </th>
        <th>
            Description
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
    </thead>
    @foreach (ICartItem item in items)
    {
        <tr>
            <td>
                <form action="@Request.RawUrl" method="post">
                <input type="submit" name="submit" value="Delete" />
                <input type="hidden" name="nodeId" value="@item.NodeId"/>
                </form>
            </td>
            <td>
                @item.DisplayId
            </td>
            <td>
                @item.Description
            </td>
            <td>
                <form action="@Request.RawUrl" method="post">
                    <input type="text" name="quantity" style="width: 20px;" value="@item.Quantity"/>
                    <input type="hidden" name="nodeId" value="@item.NodeId"/>
                    <input type="submit" name="submit" value="Update" />
                </form>
            </td>
            <td>
                @string.Format("{0:£#,##0.00}", @item.Price)
            </td>
        </tr>
    }
    @if(items.Count() == 0) {
      <td colspan="5">Your cart is empty</td>
    }
    <tr>
        <td colspan="4" style="text-align: right;">
            Sub-Total:
        </td>
        <td>
            @string.Format("{0:£#,##0.00}", helper.GetCartTotalPrice())
        </td>
    </tr>
</table>