@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="hidden-sm hidden-xs">
    <nav id="nav">
        <ul class="nav navbar-nav ">

            @{
                if (Model.Content.Id == 1047)
                {
                    <li><a level='1' href="@Model.Content.Url" class="active" target="_self">@Model.Content.Name</a></li>
                }
                else
                {
                    <li><a level='1' href="@Model.Content.Url" target="_self">@Model.Content.Name</a></li>
                }
                var dsnhomhang = MemoryCacheKiot.dsNhomHang; //new NhomHangBLL().DanhSachNhomHang();
                foreach (var item in dsnhomhang.data)
                {
                    <li class="dropdown">
                        <a level='1' href="/danh-muc?pt=@item.categoryId" target="_self" class="dropdown-toggle" data-toggle="">@item.categoryName<i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            @{
                                if (item.hasChild)
                                {
                                    foreach (var item1 in item.children)
                                    {
                                        <li><a href="/danh-muc?pt=@item1.categoryId" target="_self">@item1.categoryName</a></li>
                                    }
                                }
                            }
                        </ul>
                    </li>
                }
                <li><a level='1' href="/huong-dan" tile="Hướng dẫn" target="_self">Hướng dẫn</a></li>
                <li><a level='1' href="/lien-he" tile="Liên hệ" target="_self">Liên hệ</a></li>
            }
        </ul>
    </nav>
</div>

<script>
    $(document).ready(function () {
        var url = document.URL;

        $("a[href='" + url + "'][level='" + 1 + "']").addClass('active');
    });
</script>