@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="vn" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>

    <base href="/" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />




    @{
        var seo1 = "";
        var desc = "";
        var urler = "";
        var keyword = "";

        var id = (Request.QueryString["pt"] == null) ? 0 : Convert.ToInt32(Request.QueryString["pt"]);
        SEO seo = new SEOBLL().SEO(id);
        if (Model.Content.Id == 2057)
        {
            seo1 = Model.Content.GetPropertyValue("titlePage").ToString();
        }
        else
        {
            if (id != 0)
            {
                if (seo1.Length > 32)
                {
                }
                else
                {
                    seo1 = seo.Name + " - " + Model.Content.GetPropertyValue("titlePage").ToString();
                }
            }
        }
        if (seo != null)
        {
            if (!String.IsNullOrEmpty(seo.Description))
            {
                desc = Extension.RemoveAllHTMLTags(seo.Description).Length > 150 ? Extension.RemoveAllHTMLTags(seo.Description).Substring(0, 150) + " ..." : Extension.RemoveAllHTMLTags(seo.Description);
            }


            urler = "http://phukienphanthiet.com" + seo.Url;
            keyword = @Model.Content.GetPropertyValue("metaKeyword").ToString();
        }
    }
    <title>@Html.Raw(seo1)</title>
    <meta name="description" content="@desc">
    <meta name="keywords" content="@keyword">
    <!--Facebook-->
    <link rel="image_src" href="" / >
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <meta http-equiv="content-language" content="vi-VN">
    <meta property="og:title" content="@seo1" />
    <meta property="og:description" content="@desc" />
    <meta property="og:url" content="@urler" />
    <meta property="og:type" content="site" />
    <meta property="og:locale" content="vi_VN">
    <meta property="og:site_name" content="PHỤ KIỆN PHAN THIẾT" />
    <meta name="Generator" content="http://phukienphanthiet.com">
    <meta name="Author" content="PHU KIEN PHAN THIET">
    <meta name="geo.region" content="VN">
    <meta name="geo.placename" content="Phan Thiet">
    <meta name="geo.position" content="10.8975441,108.1731705">
    <meta name="ICBM" content="10.8975441,108.1731705">
    <meta property="fb:admins" content="100001918344127" />
    <meta http-equiv="content-language" content="vi" />

    <!--end facebook-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <!-- Style -->
    <link href="~/css/reset.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <!-- Style Responsive -->
    <link href="~/css/style-responsive.css" rel="stylesheet">
    <!-- owl Slider -->
    <link href="~/css/slider.css" rel="stylesheet">
    <!-- SLIDER REVOLUTION Main Slider -->
    <link href="~/css/settings.css" rel="stylesheet">
    <link href="~/css/magnific-popup.css" rel="stylesheet">
    <!-- Load jQuery Library -->
    <script src="~/js/jquery-1.11.min.js"></script>

    <script src="~/js/owl.carousel.js"></script>

    <!--popup cart-->
    <link rel="stylesheet" type="text/css" href="~/css/style/freeow/freeow.css">
    <link rel="stylesheet" type="text/css" href="~/css/demo.css">


    <script type="text/javascript" src="~/js/jquery.freeow.min.js"></script>
    <script type="text/javascript" src="~/js/demo.js"></script>

    <script src="~/js/main.js"></script>

    <script src="~/js/jquery.validate.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1116961788374394',
                xfbml: true,
                version: 'v2.6'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


</head>

<body style="background-image: url(@Umbraco.TypedMedia(Model.Content.GetPropertyValue<string>("backgroundBanner")).Url.ToString());">
    <form action="/" method="post" runat="server">
        <div id="st-container" class="st-container">
            <div class="st-pusher">
                <div class="st-content">

                    <!-- this is the wrapper for the content -->
                    <div class="st-content-inner">
                        <div class="main clearfix">
                            <!--begin top-->
                            <!--icon menu su dụng trong giao diện mobile-->
                            <section id="st-trigger-effects" class="column hidden-lg hidden-md" style="z-index: 9999;">
                                <button data-effect="st-effect-3" type="button" class="btn-top-mobile">
                                    <i class="fa fa-bars fa-lg"></i>
                                </button>
                            </section>
                            <!--icon menu su dụng trong giao diện mobile-->

                            <section id="topheader" style="height: 40px;">
                                <section id="topbar" style="background-color: black;position: fixed;border-bottom-width: 0 !important;left: 0;right: 0;width: 100%;box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);top: 0;z-index: 1000;adding: 7px 0;">
                                    <div class="container" style="position: relative;">
                                        <div class="row">
                                            <!-- start col -->
                                            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                                                @*Start Menu Mobile Page*@
                                                <div class="Navigation">
                                                    @Html.Partial("default/MenuMobile")
                                                </div>
                                                @*End Menu Page*@
                                            </div>




                                            <!-- end col -->
                                            <!-- start Gio hang col -->
                                            @*<script type="text/javascript">

                                                    $().ready(function () {
                                                        $('body').click(function () {
                                                            $("#dynamictb").remove();
                                                        });
                                                        $.ajax({
                                                            type: "GET",
                                                            url: "/Umbraco/webservices/PKTestService.asmx/CartCount",
                                                            contentType: "application/json",
                                                            dataType: "json",
                                                            success: function (data) { $('.count').html(JSON.parse(data.d)); },
                                                            error: function (data) { alert("error"); }
                                                        });
                                                    });
                                                </script>*@
                                            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 hidden-xs hidden-sm header-right">
                                                <i class="thead checkError"></i>
                                                <ul class="hidden-sm hidden-xs links pull-right" style="z-index: 9999;">


                                                    <li>
                                                        <a href="/gio-hang">
                                                            <i class="fa fa-shopping-cart"></i><span class="cart-total-items">
                                                                <span> Giỏ hàng</span> ( <span id="count" class="count"></span> )
                                                            </span>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                            <!-- end col -->
                                            <!-- start col -->
                                            <div class="show-mobile hidden-lg hidden-md pull-right">
                                                <!-- start quick-user --><i class="thead checkError"></i>
                                                <div class="quick-user pull-left">

                                                    <div class="quickaccess-toggle">
                                                        <a href="/gio-hang" style="color: #ec960f;">
                                                            <span id="count" class="count"></span> <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>

                                                </div>
                                                <!-- end quick-user -->

                                                <div class="quick-access pull-left">
                                                </div>
                                                <!-- end quick-access -->

                                            </div>
                                            <!-- end col -->
                                        </div>
                                    </div>
                                </section>
                            </section>




                            <!--search table -->
                            <script>
                                $(document).ready(function () {
                                    $.makeTable = function (mydata) {
                                        var table = $('<table id="dynamictb" style="z-index: 9999;font-size: 13px;width: 100%;">');
                                        //<thead><tr><th>sản phẩm</th><th>tình trạng</th><th>danh mục</th></tr></thead>



                                        $.each(mydata, function (index, value) {
                                            var TableRow = '<tr style="border-bottom: 1px solid #dedede;">';
                                            $.each(value, function (key, val) {
                                                TableRow += "<td style='width:auto;padding: 5px'>" + val + "</td>";
                                            });
                                            TableRow += "</tr>";
                                            $(table).append(TableRow);
                                        });
                                        return ($(table));
                                    };
                                    $(document).on("click", "#dynamictb tr", function () {
                                        var $name = $(this).children(":first").text();
                                        $('#ctrlSearch_3_search').val($name);
                                        $('#ctrlSearch_3_btnSearch').click();
                                        $("#dynamictb").remove();
                                    });
                                    $("#ctrlSearch_3_search").keyup(function () {
                                        $.ajax({
                                            type: "GET",
                                            url: "/Umbraco/webservices/PKTestService.asmx/SearchProduct",
                                            contentType: "application/json",
                                            dataType: "json",
                                            data: { "pk": "'" + $(this).val() + "'" },
                                            beforeSend: function () {
                                                $("#search-box").css("background", "#FFF url(LoaderIcon.gif) no-repeat 165px");
                                            },
                                            success: function (resp) {
                                                $("#dynamictb").remove();
                                                var res = JSON.parse(resp.d);
                                                var mydata = eval(res);
                                                var table = $.makeTable(mydata);
                                                $(table).appendTo("#TableCont");
                                                $("#search-box").css("background", "#FFF url() no-repeat 165px");
                                            }
                                        });
                                    });
                                });

                                function selectCountry(val) {
                                    $("#search-box").val(val);
                                    $("#suggesstion-box").hide();
                                }
                            </script>

                            <section class="row-section top-logo top-search top-html " style=''>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <h1 class="logo">
                                                <a title="" href="/">
                                                    <img src="@Umbraco.TypedMedia(Model.Content.GetPropertyValue<string>("LogoPage")).Url.ToString()" alt="@Html.Raw(seo1)" />
                                                </a>
                                            </h1>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="header-right">

                                                @Html.Partial("default/CtrlSearchPartial")

                                            </div>
                                            <table id="TableCont" style="font-family: 'Arial';
                                                    border-collapse: collapse;
                                                    border-bottom: 2px solid #00cccc;
                                                    border-spacing: 0px;
                                                    color: #999;
                                                    cursor: default;
                                                    width: 400px;
                                                    border-left: 0px;
                                                    border-right: 0px;
                                                    border-top: 0px;z-index: 9999;
                                                    background-color: #fff;;
                                                    display: table;
                                                    position: absolute;"></table>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <ul class="social">
                                                <li>
                                                    <a href="https://www.facebook.com/pkpt01" title="Phu Kiện Phan Thiết Page" class="fb hover" target="_blank">
                                                        <i class="fab fa-facebook-f"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="" title="" class="tw hover" target="_blank">
                                                        <i class="fab fa-twitter-square"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.youtube.com/playlist?list=PL9Kbj26vhVPZvrHuGpMsTaW3xfpn8-lAe" title="PhuKienPhanThiet Channel" class="yt hover" target="_blank">
                                                        <i class="fab fa-youtube-square"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="" title="" class="gg hover" target="_blank">
                                                        <i class="fab fa-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="" title="" class="rss hover" target="_blank">
                                                        <i class="fa fa-rss"></i>
                                                    </a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!--end search table-->
                            @*Start Menu Desktop*@
                            <section class="row-section top-menu " style=''>
                                <div class="container">
                                   
                                           @Html.Partial("default/MenuDesktop")
                                </div>
                            </section>
                            @*ENd Menu Desktop*@

                            @*start Body*@

                            @RenderBody()
                            <asp:ContentPlaceHolder Id="Content" runat="server">
                                <!-- Insert default "Content" markup here -->
                            </asp:ContentPlaceHolder>
                            @*End Body*@


                            <footer>
                                @Html.Partial("default/Footer")
                            </footer>
                        </div>
                        <!-- /main -->
                    </div>
                    <!-- /st-content-inner -->
                </div>
                <!-- /st-content -->

            </div>
            <!-- /st-pusher -->

        </div>
        <!-- /st-container -->
        <div id="freeow-tr" class="freeow freeow-top-right"></div>
        <div id="fb-root"></div>
    </form>
</body>
</html>